.minav{
	background-color: #3393FF !important;
}

.btn-agrega{
	background-color: #3393FF;
	color: white !important;
	margin: 5px;
}

.btn-agrega:hover{
	background-color: #277cd8;
}

#btn_enviar{
	display: none;
}